body{
	/*background: #eaeaea;*/
	margin: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
	color: #F8F8F8;
}

header {
	background: #000000;
	padding: 15px;
	overflow: hidden;
}

.navigation{
	color: #fff;
	padding: 0;
	list-style: none;
}

/**
*
*/

header .logo{
	float: left;
}

header .logo img{
	margin-top: 8px;
	width: 120px;
}

.navigation{
	float: right;
}

/*
* Navigation
*/

.navigation li{
	display: inline-block;
	font-family: 'Montserrat';
	margin-right: 25px;
}

.mavigation